<form [formGroup]="usuarioForm">

    <p-card [style]="{ width: '630px', 'margin-top': '62px'  }" class="conter-center">
        <ng-template pTemplate="header">
            <div class="conter-center">
                <img alt="Card" src="../../../assets/user.png" class="small-image" />
            </div>
            <h2 class="conter-center">Registrate</h2>
        </ng-template>

        <div class="card flex flex-wrap justify-content-center" style="margin-top: -20px;" >
            <div class="field-container">
                <div class="field">
                    <span class="p-float-label">
                        <input formControlName="username" pInputText id="username" />
                        <label for="username">Username</label>

                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('username')?.touched && usuarioForm.get('username')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input formControlName="nombre" pInputText id="nombre" />
                        <label for="nombre">Nombre</label>
                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('nombre')?.touched && usuarioForm.get('nombre')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>
            </div>
        </div>

        <div class="card flex flex-wrap justify-content-center">
            <div class="field-container">
                <div class="field">
                    <span class="p-float-label">
                        <input formControlName="apellido" pInputText id="apellido" />
                        <label for="apellido">Apellido</label>
                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('apellido')?.touched && usuarioForm.get('apellido')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <input formControlName="telefono" pInputText id="telefono" />
                        <label for="telefono">Telefono</label>
                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('telefono')?.touched && usuarioForm.get('telefono')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>
            </div>
        </div>

        <div class="card flex flex-wrap justify-content-center">
            <div class="field-container">
                <div class="field">
                    <span class="p-float-label">
                        <input formControlName="email" pInputText id="email" />
                        <label for="email">Email</label>
                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('email')?.touched && usuarioForm.get('email')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>

                <div class="field">
                    <span class="p-float-label">
                        <p-password formControlName="password" id="password" [toggleMask]="false"
                            class="small-password"></p-password>
                        <label for="password">Password</label>
                    </span>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="usuarioForm.get('password')?.touched && usuarioForm.get('password')?.errors?.['required']">
                        Campo requerido
                    </div>
                </div>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check" class="conter-center" [disabled]="usuarioForm.invalid"
                (click)="registro()" ></p-button>
        </ng-template>
    </p-card>
</form>