.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.logo-container {
    padding: 20px;
    background-color: #007ad9;
    color: white;
    text-align: center;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-card {
    margin-bottom: 20px;
}

.grid {
    display: flex;
    gap: 20px;
}

.col-4 {
    flex: 1;
}

.clor{
    background-color: #007ad9;
}